!!!
!!! 5
%html{ lang: 'en' }
  %title bkmrkd
  %meta{ charset: 'utf-8' }

  %link{ href: 'css/normalize.css', rel: 'stylesheet' }
  %link{ href: 'css/bkmrkd.css', rel: 'stylesheet' }
  %link{ rel: 'Shortcut Icon', href: 'img/favicon.png' }

  %script{ src: '/js/minified.min.js', type: 'text/javascript' }
  :javascript
    var MINI = require('minified');
    var $ = MINI.$, $$ = MINI.$$, EE = MINI.EE;
  %script{ type: 'text/javascript', src: '//use.typekit.net/gis1unc.js' }
  %script{ type: 'text/javascript'} try{Typekit.load();}catch(e){}
  %script{ src: '/js/bkmrkd.js' }

  <!--[if lte IE 8]><script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js" type="text/javascript"></script><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js" type="text/javascript"></script><![endif]-->

%body
  %header{ class: 'header clearfix' }
    .container
      %h1{ class: 'site-title' } bkmrkd
      %nav{ class: 'header__nav' }
        %ul{ class: 'nav__list' }
          %li{ class: 'nav__item' }
            %a{ class: 'nav__link', href: '/' } bookmarks
          %li{ class: 'nav__item' }
            %a{ class: 'nav__link active', href: '/colophon' } colophon
  %div{ class: 'container colophon' }
    =styled_flash
    :markdown
      **bkmrkd** is a self-hosted minimal bookmarking service. It doesn't concern itself with users or comments or any other data. Just bookmarks. It's built off of some cool things like [ruby](http://ruby-lang.org), [sinatra](http://sinatrarb.com), [haml](http://haml.info), [unicorn](http://unicorn.bogomips.org/), [mongodb](http://mongodb.org), and [sass](http://sass-lang.com).

      You can add bookmarks by dragging [this](javascript:function bkmrk(){var e=document,t=e.createElement('script'),n=e.body,r=e.location,i=e.title,s='http://bm.beardfury.com/add?title='+i+'&url='+encodeURIComponent(r.href);try{if(!n)throw 0;if(r.protocol.search(/(https)/)>=0){window.open(s+'&action=close','_blank','width=200,height=200')}else{e.title='Bookmarking'+e.title;t.setAttribute('src',s);n.appendChild(t)}}catch(o){alert('Please wait until the page has loaded.')}}bkmrk();void 0) to your bookmarks bar and using it on a cool website.

      The typography on this here site is Helvetica Neue, Helvetica, or Arial, depending on your system.

      bkmrkd was originally created by [Mike Engel](https://github.com/mike-engel). You can find and contribute to the source code on [GitHub](https://github.com/mike-engel/bkmrkd).
