<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title><%= typeof page === 'undefined' || page === '' ? 'bkmrkd' : 'Colophon – bkmrkd' %></title>

  <script>
    window.app = window.app || {}

    window.app.__initialState = <%- JSON.stringify(initialState) %>
  </script>

  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <noscript>
    <p class="no-js">Just so you know, you have javascript turned off. You won't receive updates until you turn javascript on and refresh</p>
  </noscript>
  <div data-hook="app"><%- app %></div>
  <script src="/js/<%= env === 'production' ? 'main.min.js' : 'main.js' %>"></script>
</body>
</html>
