<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title><%= typeof page === 'undefined' || page === '' ? 'bkmrkd' : 'Colophon – bkmrkd' %></title>

  <script>
    window.app = window.app || {}

    window.app.__initialState = <%- JSON.stringify(initialState) %>
  </script>

  <style>
  * {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font: normal normal 16px/1.4 "Helvetica Neue", Helvetica, Arial, Sans-serif;
    color: #34495E;
  }

  a {
    color: #3498DB;
    text-decoration: none;
    transition: color 200ms;
  }

  a:hover,
  a:active {
    color: #2980B9;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  .alert {
    position: fixed;
    bottom: -100px;
    left: 50%;
    z-index: 9999;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 500;
    max-width: 90%;
    color: white;
    opacity: 0.0;
    background-color: #C0392B;
    border-radius: 3px;
    transform: translateX(-50%);
    transition: opacity 200ms, bottom 200ms;
  }

  .alert.visible {
    bottom: 10px;
    opacity: 1.0;
  }

  .alert span {
    float: right;
    margin-left: 20px;
    color: white;
  }

  .main-nav {
    padding: 0 15px 0 15px;
    background-color: #3498DB;
  }

  .main-nav a,
  .main-nav .h1 {
    color: white;
  }

  .h1 {
    display: inline-block;
    margin: 0;
    padding-top: 5px;
    font-size: 2.56rem;
    letter-spacing: -0.05rem;
  }

  nav ul {
    margin-bottom: 0;
  }

  nav li {
    display: inline-block;
    margin: 0 10px;
  }

  nav li:first-child {
    margin-left: 0;
  }

  nav a {
    display: block;
    padding: 5px 0;
  }

  nav .active {
    border-bottom: 3px solid white;
  }

  .no-js {
    padding: 10px 15px;
    margin: 0;
    font-size: 0.8125rem;
    color: #685300;
    background-color: #F1C40F;
  }

  .bookmarks,
  .colophon {
    padding-top: 1px;
  }

  .bookmarks li + li {
    margin-top: 20px;
  }

  .bookmark-name {
    margin: 0;
    line-height: 1.2;
    font-weight: 500;
    font-size: 1.2rem;
  }

  .date,
  .website,
  .destroy {
    font-size: 0.8125rem;
  }

  .date:after,
  .website:after {
    content: '•';
    margin: 0 5px;
    color: #95A5A6;
  }

  .date {
    color: #7F8C8D;
  }

  .destroy:hover,
  .destroy:active {
    color: #C0392B;
  }

  .no-bookmarks {
    margin: 0;
    padding: 15px;
    color: #34495E;
    text-align: center;
    background-color: #BDC3C7;
  }

  @media (min-width: 768px) {
    .main-nav {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      padding: 0 10%;
    }

    .bookmarks,
    .bookmarks-list .h2 {
      margin: 143px 10% 30px 10%;
    }

    .colophon {
      margin-top: 113px;
      padding-right: 10%;
      padding-left: 10%;
    }
  }

  @media (min-width: 1024px) {
    body {
      font-size: 18px;
    }

    .main-nav {
      padding: 0 20%;
    }

    .bookmarks,
    .bookmarks-list .h2 {
      margin-right: 20%;
      margin-left: 20%;
    }

    .colophon {
      padding-right: 20%;
      padding-left: 20%;
    }

    .colophon p {
      max-width: 600px;
    }
  }
  </style>
</head>
<body>
  <noscript>
    <p class="no-js">Just so you know, you have javascript turned off. You won't receive updates until you turn javascript on and refresh</p>
  </noscript>
  <div data-hook="app"><%- app %></div>
  <script src="/js/main.js"></script>
</body>
</html>
