!!!
!!! 5
%html{ lang: 'en' }
  %title bkmrkd
  %meta{ charset: 'utf-8' }

  %link{ href: 'css/normalize.css', rel: 'stylesheet' }
  %link{ href: 'css/bkmrkd.css', rel: 'stylesheet' }
  %link{ rel: 'Shortcut Icon', href: 'img/favicon.png' }

  %script{ type: 'text/javascript', src: '//use.typekit.net/gis1unc.js' }
  %script{ type: 'text/javascript'} try{Typekit.load();}catch(e){}

  <!--[if lte IE 8]><script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js" type="text/javascript"></script><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js" type="text/javascript"></script><![endif]-->

%body
  %header{ class: 'header clearfix' }
    .container
      %h1{ class: 'site-title' } bkmrkd
      %nav{ class: 'header__nav' }
        %ul{ class: 'nav__list' }
          %li{ class: 'nav__item' }
            %a{ class: 'nav__link active', href: '/' } bookmarks
          %li{ class: 'nav__item' }
            %a{ class: 'nav__link', href: '/colophon' } colophon
  %div{ class: 'container bookmarks' }
    =styled_flash
    - if @bookmarks.length > 0
      - @bookmarks.each do |bm|
        .bookmark
          %a{ class: 'bookmark__title', href: "#{bm["url"]}" }= bm["title"]
          .bookmark__location= bm["formatted_url"]
          .bookmark__creation= bm["date_added"].strftime("%B %d, %Y")
          %a{ class: 'bookmark__destroy', href: "/delete/#{bm["id"]}" } destroy this bookmark
    - else
      .oh-no
        :markdown
          Sadly, there are no bookmarks to show.

          You can add bookmarks by dragging <a href="javascript:function bkmrk(){var e=document,t=e.createElement('script'),n=e.body,r=e.location,i=e.title;try{if(!n)throw 0;e.title='Bookmarking '+e.title;t.setAttribute('src',r.protocol+'//bm.beardfury.com/add?title='+i+'&url='+encodeURIComponent(r.href));n.appendChild(t)}catch(s){alert('Please wait until the page has loaded.');}}bkmrk();void 0;">this</a> to your bookmarks bar and using it on a cool website.
