<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,user-scalable=no">

  <title>Bkmrkd</title>
</head>
<body>
  <header class="main-nav" data-hook="main-nav"></header>
  <div data-hook="main-content"><%= markup %></div>
  <script src="/js/bkmrkd.js"></script>
</body>
</html>
