html,
body {
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'aktiv-grotesk-std', helvetica, arial, sans-serif;
  color: #333;
  letter-spacing: -0.01em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container {
  width: 100%;
  max-width: 680px;
  margin: 0 auto; }

ul {
  list-style: none;
  list-style-type: none; }

.clearfix:before, .clearfix:after {
  display: table;
  content: ''; }
.clearfix:after {
  clear: both; }

a,
a:link,
a:visited {
  color: #2187F6;
  text-decoration: none;
  padding: 2px;
  border-bottom: 1px solid transparent; }

a:hover,
a:active {
  background-color: #f4f9ff;
  border-bottom: 1px solid #b4d6fc; }

p {
  font: normal 20px/1.618 'aktiv-grotesk-std', helvetica, arial, sans-serif;
  font-size: 1.25rem; }

.header {
  width: 100%;
  border-bottom: 1px solid #DDD;
  position: fixed;
  background: white;
  padding: 15px 0; }
  .header .container {
    position: relative; }
    .header .container .site-title {
      display: inline-block;
      color: #788694;
      margin: 0;
      position: relative;
      bottom: 15px;
      top: 0; }
    .header .container .header__nav {
      float: right;
      position: relative;
      bottom: 15px;
      top: 0; }
      .header .container .header__nav li {
        float: left;
        margin-left: 25px; }
        .header .container .header__nav li a {
          opacity: 0.5; }
          .header .container .header__nav li a:hover {
            opacity: 1.0; }
        .header .container .header__nav li .active {
          opacity: 1.0; }

.bookmarks {
  padding-top: 71px; }
  .bookmarks .pagination {
    font-size: 14px;
    font-size: 0.875rem;
    padding: 30px 0; }
    .bookmarks .pagination .previous_page {
      margin-right: 20px; }
    .bookmarks .pagination .next_page {
      margin-left: 20px; }
    .bookmarks .pagination .disabled {
      opacity: 0.5;
      padding: 2px; }
    .bookmarks .pagination .current {
      font-style: normal;
      margin-right: 5px;
      padding: 2px; }
    .bookmarks .pagination .current,
    .bookmarks .pagination a {
      margin-right: 5px; }
      .bookmarks .pagination .current:nth-last-child(2), .bookmarks .pagination .current:last-child,
      .bookmarks .pagination a:nth-last-child(2),
      .bookmarks .pagination a:last-child {
        margin-right: 0; }
  .bookmarks .bookmark {
    margin: 0 0 50px 0; }
    .bookmarks .bookmark:nth-last-child(2) {
      margin: 0; }
  .bookmarks .bookmark__title {
    display: inline-block;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0 10px 0 0; }
  .bookmarks .bookmark__location {
    display: inline;
    font-size: 14px;
    font-size: 0.875rem;
    color: #777; }
    .bookmarks .bookmark__location:after {
      content: '';
      display: block; }
  .bookmarks .bookmark__creation,
  .bookmarks .bookmark__destroy {
    display: inline-block;
    font-size: 12px;
    font-size: 0.75rem;
    color: #AAA;
    margin: 0 15px 0 0;
    padding: 0; }

.oh-no {
  padding-top: 79px; }

.colophon {
  padding-top: 150px; }
