<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0,width=device-width">

  <link rel="stylesheet" href="/static/css/bkmrkd.css">
</head>
<body>
  <div data-hook="app"></div>

  <script src="/static/js/bkmrkd<%= env === 'production' ? '.min.js' : '.js' %>"></script>
  <script>
    Elm.Bkmrkd.embed(document.querySelector('[data-hook="app"]'))
  </script>
</body>
</html>
