.colophon {
  @media (--medium) {
    margin-top: 113px;
    padding-right: 10%;
    padding-left: 10%;
  }

  @media (--large) {
    padding-right: 20%;
    padding-left: 20%;

    p {
      max-width: 40em;
    }
  }
}
