.main-nav {
  padding: 0 15px 0 15px;
  background-color: var(--linkColor);

  @media (--medium) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 0 10%;
  }

  @media (--large) {
    padding: 0 20%;
  }

  a,
  .h1 {
    color: var(--white);
  }

  ul {
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    display: block;
    padding: 5px 0;
    border-bottom: 3px solid transparent;
  }

  .active {
    border-color: var(--white);
  }
}
