.pagination {
  padding-top: 1px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.pagination__link {
  margin-right: 3em;
  line-height: 1;

  &.disabled {
    opacity: 0.5;

    &:hover,
    &:active {
      cursor: default;
    }
  }
}
