::-moz-placeholder {
  color: var(--halfWhite)
}

::-webkit-input-placeholder {
  color: var(--halfWhite)
}

:-ms-input-placeholder {
  color: var(--halfWhite)
}

:placeholder-shown {
  color: var(--halfWhite)
}

.search-form {
  @media (--medium) {
    float: right;
    margin-top: 13px;
    width: 300px;
  }

  input {
    color: var(--white);
  }
}
