label {
  display: none;
}

.form {
  display: block;
}

input {
  display: block;
  width: 100%;
  padding: 0.5em 0;
  font-family: var(--fontFamily);
  font-size: 1rem;
  border: none;
  border-radius: 0;
  background-color: var(--white);
}

input[type="search"] {
  background-color: var(--linkColor);
  border-bottom: 1px solid var(--white);
}
