* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font: normal normal 16px/1.4 "Helvetica Neue", Helvetica, Arial, Sans-serif;
  color: var(--textColor);

  @media (--large) {
    font-size: 18px;
  }
}

a {
  color: var(--linkColor);
  text-decoration: none;
  transition: color var(--transitionTime);
}

a:hover,
a:active {
  color: var(--linkHoverColor);
}

ul {
  list-style: none;
  padding-left: 0;
}

.h1 {
  display: inline-block;
  margin: 0;
  padding-top: 5px;
  font-size: 2.56rem;
  letter-spacing: -0.05rem;
}

.no-js {
  padding: 10px 15px;
  margin: 0;
  font-size: 0.8125rem;
  color: #685300;
  background-color: var(--yellow);
}
